body{
    font-family: fantasy;
    background-color:tan;
}

#container{
    background-color:rgb(120, 187, 120);
    color:black;
    font-family: fantasy;
    font-weight: bolder;
}
#author{
  font-weight: bolder;
}
.favDivs{

     border:1px solid black; 
    background-color: rgb(253, 229, 185);
    width: 500px;
    border-style: dotted solid double; 
    border-style: inset;
    border-width: 7px;
    border-color: black;  
  


}

#header{
    font-size: large;
    font-weight: bolder;
}